.top-section {
  .displayFlex(center, center);
  background-image: url("../images/Rectangle\ 5.jpg");
  height: 643px;

  @media @tablet {
    .displayFlex(space-around, space-evenly);
    flex-direction: column;
    background-image: url("../images/mobilebg.jpg");
    // background: black;
    max-width: 100%;
    width: 99%;
    margin: auto;
    height: 564px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .hack {
    .displayFlex(center, center);
    position: absolute;
    width: 502.74px;
    height: 179.5px;
    left: 17%;
    top: 140px;

    background-image: radial-gradient(
      44.82% 88.39% at 55.83% 76.35%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(126, 124, 124, 0) 100%
    );

    @media @tablet {
      top: 0px;
      left: 0%;
      position: static;
      background-image: none;
    }

    p {
      width: 450px;
      height: 114px;
      left: 110px;
      top: 171px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      text-align: center;

      color: @drkgreen;

      @media @tablet {
        position: absolute;
        font-size: 36px;
        width: 45%;
        font-weight: 900;
        line-height: 141.2%;
        /* or 25px */
        text-align: center;
        letter-spacing: 0.01em;
        margin-top: -90px;
        margin-left: -70px;
      }
    }
  }

  .start {
    .displayFlex(center, center);
    margin-left: 61%;
    margin-bottom: 3%;
    width: 15%;
    height: 12%;

    top: calc(50% - 90px / 2);
    background: @buttongrn;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    @media @tablet {
      margin-top: 100px;
      height: 60px;
      width: 180px;
      margin-left: auto;
      margin-right: auto;
    }

    .get-started {
      left: 26.05%;
      right: 24.14%;
      top: 37.78%;
      bottom: 31.11%;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      color: #ffffff;

      @media @tablet {
        display: none;
      }
    }

    .mobile-join {
      display: none;

      @media @tablet {
        display: inline;
        left: 26.05%;
        right: 24.14%;
        top: 37.78%;
        bottom: 31.11%;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #ffffff;
      }
    }
  }

  .simplify {
    .displayFlex(center, center);
    position: absolute;
    width: 22%;
    height: 12%;
    left: 58%;
    top: 56%;

    background-image: radial-gradient(
      63.76% 151.68% at 50% 50%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(126, 124, 124, 0) 100%
    );

    @media @tablet {
      position: static;
      width: 100%;
      height: 33%;
      background-image: none;
    }

    p {
      position: static;
      width: 574px;
      height: 112px;
      left: 789px;
      top: 529px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      text-align: center;

      color: @green;

      @media @tablet {
        font-size: 36px;
        width: 40%;
        font-weight: 900;
        line-height: 141.2%;
        /* or 25px */
        text-align: center;
        letter-spacing: 0.01em;
        margin-left: 500px;
      }
    }
  }
}

.second-section {
  .displayFlex(space-around, center);

  @media @tablet {
    margin: auto;
    max-width: 90%;
    width: 100%;
    flex-direction: column;
  }

  .about-how-to {
    width: 812px;
    height: 100%;
    left: 70px;
    top: 785px;
    padding: 15px;
    margin-bottom: 5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;

    @media @tablet {
      max-width: 90%;
    }
  }

  .create {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 219px;
    width: 25%;
    margin-bottom: 5%;

    @media @tablet {
      width: 50%;
    }

    .text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin: 25px;
      color: #000000;
    }

    .create-acct {
      .displayFlex(center, center);
      height: 37px;
      left: 17px;
      right: 17px;
      top: calc(50% - 37px / 2 - 1.5px);

      background: @buttongrn;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-align: center;

      color: #ffffff;
    }

    .sign {
      .displayFlex(center, center);
      width: 40%;
      height: 15%;
      margin: auto;
      background: @brown;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;

      color: #ffffff;
    }
  }
}

.top-how {
  .displayFlex(space-evenly, center);
  flex-direction: column;
  height: 322px;
  left: 0px;
  top: 966px;
  background: #e3c291;

  @media @tablet {
    max-width: 100%;
    width: 99%;
    margin: auto;
  }

  h2 {
    margin-right: 950px;
    margin-top: -45px;
    width: 403px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    border-bottom: 1px solid #193617;

    @media @tablet {
      margin-left: 600px;
      margin-top: -30px;
    }
  }

  .rate-box {
    .displayFlex(space-evenly, center);
    width: 100%;

    @media @tablet {
      height: 80%;
      margin-bottom: -40px;
    }
  }

  .rate {
    .displayFlex(center, center);
    flex-direction: column;
    align-content: space-around;
    height: 50%;
    width: 33%;

    @media @tablet {
      height: 100%;
      display: flex;
      align-content: space-between;
    }

    p {
      text-align: center;
      margin: 15px;
      width: 75%;
      height: 28px;
      left: 92px;
      top: 1047px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;

      color: #193617;

      @media @tablet {
        font-size: 20px;
        width: 100%;
        margin-top: -30px;
      }
    }

    i {
      font-size: 30px;
      color: #f7e32c;
      margin-top: 15px;
      margin-right: 5px;
    }
  }
}

.bottom {
  .displayFlex(center, center);
  flex-direction: column;
  height: 200px;
  margin-bottom: 25px;

  @media @tablet {
    width: 99%;
    margin: auto;
    height: 33%;
    margin-top: 40px;
  }

  h2 {
    width: 403px;
    height: 28px;
    margin-right: 950px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    @media @tablet {
      margin-left: 600px;
      margin-top: -30px;
    }
  }

  .user-review {
    .displayFlex(space-around, center);
  }

  .review {
    .displayFlex(center, center);
    width: 25%;

    img {
      width: 90px;
      height: 90px;
      left: 88px;
      top: 1406px;
      margin: 20px;
    }

    p {
      font-family: Roboto;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;

      color: #000000;

      strong {
        font-size: 14px;
        font-weight: bolder;
      }
    }
  }
}

.plan {
  .displayFlex(space-around, center);
  margin: 30px;

  @media @tablet {
    max-width: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    width: 150px;
    height: 28.68px;
    top: 1569px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 141.2%;
    /* or 34px */
    letter-spacing: 0.01em;

    color: #000000;
  }

  .sign-up {
    width: 115px;
    height: 18.64px;
    left: 307px;
    top: 1732.33px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 146.2%;
    /* or 26px */
    text-align: center;
    letter-spacing: 0.01em;

    color: #000000;
  }

  .free {
    .displayFlex(space-around, center);
    flex-direction: column;
    width: 321px;
    height: 223px;
    left: 208px;
    top: 1553px;
    text-align: center;
    background: #865e22;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  .choose {
    width: 317px;
    height: 110.42px;
    left: 562px;
    top: 1610.36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 141.2%;
    /* or 51px */
    text-align: center;
    letter-spacing: 0.01em;

    color: #000000;
  }

  .pro {
    .displayFlex(space-around, center);
    flex-direction: column;
    width: 321px;
    height: 223px;
    left: 911px;
    top: 1553px;
    text-align: center;
    background: #346f2f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}
